@require './config'

@media only screen and (max-width:599px)
  #app > div
    display: block
  #sidebar
    position: static
    width: 100%
    display: block
    text-align: center

  #main
    margin-left: 0
